html,
body{
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.details{
	background-image: url(../images/1.png);
	 display: list-item;
	height: 100%;
}
.seek{
	position: absolute;
    top: 3%;
    width: 100%;
}
.seek img{
	width: 75%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.music{
	position: absolute;
    right: 0.1rem;
    top: 0.3rem;
}
.music img{
	width: 80%;
}
.dback{
	position: absolute;
	width: 96%;
    height: 87.5%;
    left: 0.15%;
    top: 10.8%;
}
.dback img{
	width: 100%;
	height: 101%;
}
.detail{    
	text-align: center;
	height: 80%;
    position: absolute;
    top: 16%;
    width: 80%;
    left: 10%;
}
.detail img{    
    width:90%; 

}
.dtitle-1{
	word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    font-size: 0.65rem;
    color: #666666;
    letter-spacing: 3px;
}
.dtitle-2{
	word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    font-size: 0.45rem;
    color: #666666;
    letter-spacing: 1px;
}
.dimg-2{
	margin-top: 10%;
}
.dimg-3{
	margin-top: 12%;
}
.dcontent-1{
	width: 15%;
    position: absolute;
    font-size: 0.5rem;
    top: 66%;
    left: 8%;
    color: #666666;
}
.dcontent-2{
	text-align: left;
	width: 60%;
    position: absolute;
    top: 66%;
    left: 30%;
    font-size: 0.3rem;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    color: #666666;
}
.dcontent-3{
    text-align: left;
    width: 60%;
    position: absolute;
    top: 71%;
    left: 30%;
    font-size: 0.3rem;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    color: #666666;
}
.dcontent-4{
	width: 15%;
    position: absolute;
    font-size: 0.5rem;
    top: 79%;
    left: 8%;
    color: #666666;
}