html,
body{
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.more{
	background-image: url(../images/1.png);
	display: list-item;
	height: 100%;
    text-align: center;
    overflow: hidden;
}
.more img{
	width: 90%;
	margin-bottom: 0.1rem;
}
.first{
	background-image: url(../images/1.png);
	display: list-item;
	height: 100%;
    text-align: center;
    overflow: hidden;
}
.first img{
	width: 90%;
	margin-bottom: 0.1rem;
}
.search{
	background-image: url(../images/1.png);
	display: list-item;
	height: 100%;
	text-align: center;
    overflow: hidden;
}
.search img{
	width: 90%;
	margin-bottom: 0.2rem;
}
.details{
	background-image: url(../images/1.png);
	 display: list-item;
	height: 100%;
}
.seek{
	position: absolute;
    top: 3%;
    width: 100%;
-webkit-animation: bounceIn 1s 1.5s 1 both;
    -moz-animation: bounceIn 1s 1.5s 1 both;
    animation: bounceIn 1s 1.5s 1 both;
}
.seek img{
	width: 75%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.music{
	position: fixed;
    right: 0.1rem;
    top: 0.1rem;
}
.music img{
    margin: 0 !important;
     -webkit-animation: 1s showmusic  infinite;
    animation: 1s showmusic  infinite;
}
@-webkit-keyframes showmusic {
  0%{
        animation-timing-function: linear;
        transform: rotate(0deg);
    }
    100%{
        animation-timing-function: linear;
        transform: rotate(-360deg);
    }
}
.music img{
	width: 80%;
}
.dback{
	position: absolute;
	width: 96%;
    height: 87.5%;
    left: 0.15%;
    top: 10.8%;
}
.dback img{
	width: 100%;
	height: 101%;
}
.detail{    
	text-align: center;
	height: 80%;
    position: absolute;
    top: 16%;
    width: 80%;
    left: 10%;
}
.detail img{    
    width:90%; 

}
.dtitle-1{
	word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    font-size: 0.65rem;
    color: #666666;
    letter-spacing: 3px;
}
.dtitle-2{
	word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    font-size: 0.45rem;
    color: #666666;
    letter-spacing: 1px;
}
.dimg-2{
	margin-top: 5%;
}
.dimg-3{
/*	margin-top: 5%;*/
	position: relative;
}
.dimg-3 img{
	height: 4.5rem;
}
.dcontent-1{
	width: 15%;
    position: absolute;
    font-size: 0.5rem;
    top: 0.4rem;
    left: 0.7rem;
    color: #666666;
}
.dcontent-2{
	text-align: left;
    position: absolute;
    width: 65%;
    top: 0.15rem;
    left: 2.3rem;
    font-size: 0.35rem;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    color: #666666;
}
.dcontent-3{
    text-align: left;
    width: 65%;
    position: absolute;
    top: 1.2rem;
    left: 2.3rem;
    font-size: 0.35rem;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    color: #666666;
}
.dcontent-4{
	width: 15%;
    position: absolute;
    font-size: 0.5rem;
    top: 2.5rem;
    left: 0.7rem;
    color: #666666;
}
.dcontent-5{
	text-align: left;
    width: 65%;
    position: absolute;
    top: 2.25rem;
    left: 2.3rem;
    font-size: 0.35rem;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    color: #666666;
}
.dcontent-6{
	text-align: left;
    width: 65%;
    position: absolute;
    top: 3.3rem;
    left: 2.3rem;
    font-size: 0.35rem;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-transform: rotate(358deg);
    -moz-transform: rotate(358deg);
    transform: rotate(358deg);
    color: #666666;
}
.ytop{
	padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.3rem;
    height: 6.5rem;
}
.logo img{
    width: 20%;
    -webkit-animation: fadeIn 1s 0.5s 1 both;
    -moz-animation: fadeIn 1s 0.5s 1 both;
    animation: fadeIn 1s 0.5s 1 both;
}
.yearjob{
	position: relative;
}
.forjob{
	position: relative;
}
.yearjob div{
	position: absolute;
}
.year{
    left: 0.2rem;
    width: 4rem;
}
.job{
	padding-left: 0.2rem;
	width: 3.5rem;
    right: 0.6rem;
}
.job img{
	width: 100%;
}
.job1{
	width: 3rem;
    right: 0.8rem;
    top: 0.3rem;
}
.forjob{
	position: relative;
}
.forjob img{
	width: 100%;
}
.tperson{
	color: #fff;
    font-size: 0.45rem;
    font-family: "黑体";
    margin-top: 1rem;
}
.ybottom{
	position: relative;
    margin-top: 0.5rem;
}
.ybottom div{
	position: absolute;
	width: 55%;
}
.ybottom img{
	width: 100%;
}
.bperson1{
    left: -15%;
    top: 0.3rem;
    z-index: 3;
}
.bperson2{
	z-index: 1;
	top: 0rem;
    left: 2.1rem;
}
.bperson3{
	top: 1.2rem;
	right: 0;
	z-index: 13;
    right: -1.5rem;
}
.smap{
	position: relative;
	margin-top: 0.5rem;
}
.smap img{
	width: 100%;
}
.tmap{
	top: 0;
    position: absolute;
    left: 0;
    height: 6.5rem;
}
.tmap img{
    height: 90%;
    width: 103%;
}

.tmap1{
	position: absolute;
    z-index: 100;
    width: 100%;
    top: 0.2rem;
    left: 0.15rem;
}
.scontent{
	font-size: 0.4rem;
	line-height: 0.6rem;
	width: 100%;
	position: absolute;
	text-align: center;
	color: #fff;
	bottom: 1rem;
}
.mweixin{
	position: relative;
}
.mwei1{
	position: absolute;
	width: 100%;
    top: -1.5rem;
}
.mwei1 img{
	width: 50%;
}
.mwei2{
	position: absolute;
	top: -1.2rem;
    left: 2.9rem;
}
.mwei2 img{
	width: 4.2rem;
}
.swipedown{
	    position: absolute;
    width: 1.2rem;
    height: .9rem;
    margin: 0 auto;
    left: 0;
    right: 0;
/*    bottom: .5rem;*/
    background: url(../images/swipe.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: webSwipeTipAfter 2s infinite ease;
    animation: webSwipeTipAfter 2s infinite ease;
    z-index: 150;
}
@keyframes webSwipeTipAfter
{
0%{
	opacity: 1;
    bottom: .5rem;
}
50%{
	opacity: 0.5;
    bottom: 0.75rem;
}
100%{
	opacity: 0;
    bottom: 1rem;
}
}

@-moz-keyframes webSwipeTipAfter /* Firefox */
{
0%{
	opacity: 1;
    bottom: .5rem;
}
100%{
	opacity: 0;
    bottom: 1rem;
}
}

@-webkit-keyframes webSwipeTipAfter /* Safari 和 Chrome */
{
0%{
	opacity: 1;
    bottom: .5rem;
}
100%{
	opacity: 0;
    bottom: 1rem;
}
}

@-o-keyframes webSwipeTipAfter /* Opera */
{
0%{
	opacity: 1;
    bottom: .5rem;
}
100%{
	opacity: 0;
    bottom: 1rem;
}
}
.wname{
	position: absolute;
    top: 4rem;
    color: #fff;
    width: 100%;
    font-family: "黑体";
    font-size: 0.5rem;
    z-index: 140;
}
.mstar img{
	width: 70%;

}
.mstar{
	position: absolute;
	z-index: 102;
}
.star1{
	top: 7rem;
    left: 0.2rem;
}
.star2{
	top: 8.5rem;
    right: 0.3rem;
}
.star3{
	top: 11rem;
    left: 1.6rem;
}
.star4{
	bottom: 2rem;
}
.star5{
	bottom: 0.5rem;
    left: 3rem;
}
.star6{
	bottom: 5rem;
    right: 0.5rem;
}
.star7{
	top: 6.5rem;

    left: 2rem;
}
.star8{
	top: 9rem;
    right: 1.5rem;
}
.welfare img{
    width: 85%;
}
.wwelfare {
    position: relative;
    height: 2rem;
    margin-bottom: 0.2rem;
}
.wtitle{
    position: relative;
}
.wtitle span{
        position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    right: 0;
    top: -1.8rem;
    color: #fff;
    margin: auto 0;
    font-size: 0.8rem;
    font-family: "黑体";
}
.seek1 img{
    -webkit-animation: bounceIn 2s 1.5s 1 both;
    -moz-animation: bounceIn 2s 1.5s 1 both;
    animation: bounceIn 2s 1.5s 1 both;
}
.tname img{
 -webkit-animation: zoomOut 1s 3.5s 1 both;
    -moz-animation: zoomOut 1s 3.5s 1 both;
    animation: zoomOut 1s 3.5s 1 both;
}
.year{
    -webkit-animation: bounceInLeft 1s 4s 1 both;
    -moz-animation: bounceInLeft 1s 4s 1 both;
    animation: bounceInLeft 1s 4s 1 both;
}
.star1{
    -webkit-animation: bounceIn 1s 4.5s 1 both;
    -moz-animation: bounceIn 1s 4.5s 1 both;
    animation: bounceIn 1s 4.5s 1 both;
}
.job{
-webkit-animation: bounceInRight 1s 4.5s 1 both;
    -moz-animation: bounceInRight 1s 4.5s 1 both;
    animation: bounceInRight 1s 4.5s 1 both;
}
.job1{
-webkit-animation: fadeIn 1s 5s 1 both;
    -moz-animation: fadeIn 1s 5s 1 both;
    animation: fadeIn 1s 5s 1 both;
}
.tperson{
-webkit-animation: bounceInRight 1s 5s 1 both;
    -moz-animation: bounceInRight 1s 5s 1 both;
    animation: bounceInRight 1s 5s 1 both;
}
.star2{
    -webkit-animation: bounceIn 1s 5.5s 1 both;
    -moz-animation: bounceIn 1s 5.5s 1 both;
    animation: bounceIn 1s 5.5s 1 both;
}
.bperson1{
-webkit-animation: bounceInLeft 1s 6s 1 both;
    -moz-animation: bounceInLeft 1s 6s 1 both;
    animation: bounceInLeft 1s 6s 1 both;
}
.bperson2{
-webkit-animation: bounceInDown 1s 6.5s 1 both;
    -moz-animation: bounceInDown 1s 6.5s 1 both;
    animation: bounceInDown 1s 6.5s 1 both;
}
.star3{
    -webkit-animation: bounceIn 1s 7.5s 1 both;
    -moz-animation: bounceIn 1s 7.5s 1 both;
    animation: bounceIn 1s 7.5s 1 both;
}
.bperson3{
    -webkit-animation: bounceInRight 1s 7s 1 both;
    -moz-animation: bounceInRight 1s 7s 1 both;
    animation: bounceInRight 1s 7s 1 both;
}
.dback{
    -webkit-animation: fadeIn 2s 2.5s 1 both;
    -moz-animation: fadeIn 2s 2.5s 1 both;
    animation: fadeIn 2s 2.5s 1 both;
}
.dtitle-1-1{
    -webkit-animation: bounceIn 1s 3.5s 1 both;
    -moz-animation: bounceIn 1s 3.5s 1 both;
    animation: bounceIn 1s 3.5s 1 both;
}
.dimg-1{
-webkit-animation: fadeIn 1s 4s 1 both;
    -moz-animation: fadeIn 1s 4s 1 both;
    animation: fadeIn 1s 4s 1 both;
}
.dtitle-2-1{
-webkit-animation: fadeIn 1s 4.5s 1 both;
    -moz-animation: fadeIn 1s 4.5s 1 both;
    animation: fadeIn 1s 4.5s 1 both;
}
.dimg-2{
    -webkit-animation: zoomOut 1s 5s 1 both;
    -moz-animation: zoomOut 1s 5s 1 both;
    animation: zoomOut 1s 5s 1 both;
}
.star7{
-webkit-animation: bounceIn 1s 5.5s 1 both;
    -moz-animation: bounceIn 1s 5.5s 1 both;
    animation: bounceIn 1s 5.5s 1 both;
}
.star8{
    -webkit-animation: bounceIn 1s 6s 1 both;
    -moz-animation: bounceIn 1s 6s 1 both;
    animation: bounceIn 1s 6s 1 both;
}
.dimg-3{
-webkit-animation: fadeIn 1s 6.5s 1 both;
    -moz-animation: fadeIn 1s 6.5s 1 both;
    animation: fadeIn 1s 6.5s 1 both;
}
.dcontent-1{
    -webkit-animation: bounceInLeft 1s 7s 1 both;
    -moz-animation: bounceInLeft 1s 7s 1 both;
    animation: bounceInLeft 1s 7s 1 both;
}
.dcontent-4{
        -webkit-animation: bounceInLeft 1s 7s 1 both;
    -moz-animation: bounceInLeft 1s 7s 1 both;
    animation: bounceInLeft 1s 7s 1 both;
}
.dcontent-2-1{
        -webkit-animation: bounceInLeft 1s 7.5s 1 both;
    -moz-animation: bounceInLeft 1s 7.5s 1 both;
    animation: bounceInLeft 1s 7.5s 1 both;
}
.dcontent-3-1{
    -webkit-animation: bounceInLeft 1s 8s 1 both;
    -moz-animation: bounceInLeft 1s 8s 1 both;
    animation: bounceInLeft 1s 8s 1 both;
}
.dcontent-5-1{
        -webkit-animation: bounceInLeft 1s 8.5s 1 both;
    -moz-animation: bounceInLeft 1s 8.5s 1 both;
    animation: bounceInLeft 1s 8.5s 1 both;
}
.dcontent-6-1{
        -webkit-animation: bounceInLeft 1s 9s 1 both;
    -moz-animation: bounceInLeft 1s 9s 1 both;
    animation: bounceInLeft 1s 9s 1 both;
}
.tcon{
    -webkit-animation: zoomOut 1s 3.5s 1 both;
    -moz-animation: zoomOut 1s 3.5s 1 both;
    animation: zoomOut 1s 3.5s 1 both;
}
.star6{
    -webkit-animation: bounceIn 1s 4.5s 1 both;
    -moz-animation: bounceIn 1s 4.5s 1 both;
    animation: bounceIn 1s 4.5s 1 both;
}
.tmap img{
    -webkit-animation: zoomIn 1s 4.5s 1 both;
    -moz-animation: zoomIn 1s 4.5s 1 both;
    animation: zoomIn 1s 4.5s 1 both;
}
.tmap1 img{
    -webkit-animation: zoomOut 1s 5s 1 both;
    -moz-animation: zoomOut 1s 5s 1 both;
    animation: zoomOut 1s 5s 1 both;
}
.scontent{
-webkit-animation: fadeIn 1s 5.5s 1 both;
    -moz-animation: fadeIn 1s 5.5s 1 both;
    animation: fadeIn 1s 5.5s 1 both;
}
.star5{
    -webkit-animation: bounceIn 1s 6s 1 both;
    -moz-animation: bounceIn 1s 6s 1 both;
    animation: bounceIn 1s 6s 1 both;
}
.star4{
-webkit-animation: bounceIn 1s 6.5s 1 both;
    -moz-animation: bounceIn 1s 6.5s 1 both;
    animation: bounceIn 1s 6.5s 1 both;
}

.mwei1 img{
-webkit-animation: zoomIn 1s 4s 1 both;
    -moz-animation: zoomIn 1s 4s 1 both;
    animation: zoomIn 1s 4s 1 both;
}
.mwei2 img{
    -webkit-animation: zoomOut 1s 4.5s 1 both;
    -moz-animation: zoomOut 1s 4.5s 1 both;
    animation: zoomOut 1s 4.5s 1 both;
}
.wname{
    -webkit-animation: fadeIn 1s 5s 1 both;
    -moz-animation: fadeIn 1s 5s 1 both;
    animation: fadeIn 1s 5s 1 both;
}
.fare1{
    -webkit-animation: fadeIn 1s 5s 1 both;
    -moz-animation: fadeIn 1s 5s 1 both;
    animation: fadeIn 1s 5s 1 both;
}
.fare2{
    -webkit-animation: fadeIn 1s 6s 1 both;
    -moz-animation: fadeIn 1s 6s 1 both;
    animation: fadeIn 1s 6s 1 both;
}
.fare3{
    -webkit-animation: fadeIn 1s 7s 1 both;
    -moz-animation: fadeIn 1s 7s 1 both;
    animation: fadeIn 1s 7s 1 both;
}
.fare4{
    -webkit-animation: fadeIn 1s 8.5s 1 both;
    -moz-animation: fadeIn 1s 8.5s 1 both;
    animation: fadeIn 1s 8.5s 1 both;
}